:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  padding: 0.5rem;
  height: 100vh;

  display: flex;
  gap: 0.5rem;
}

.sidebar {
  flex: none;

  width: 208px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.palette {
  border: 2px solid #afeeee;
  border-radius: 0.375rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .title {
    background-color: #afeeee;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0.25rem 0.5rem;
  }

  .items {
    display: flex;
    flex-direction: column;
  }

  .items > li {
    border-top: 1px solid #afeeee;
  }

  .items > li:first-child {
    border-top: none;
  }

  .item {
    padding: 0.25rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .item > .catno {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: auto;
  }
}

.main {
  flex: 1 1 0%;

  border: 2px solid #afeeee;
  border-radius: 0.375rem;

  position: relative;
}

.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .contextmenu {
  visibility: hidden;
  position: absolute;

  width: 196px;
  padding: 0.5rem 0;
  border-radius: 0.625rem;
  box-shadow: 0 0 1.25rem rgba(37, 40, 42, 0.22);

  list-style-type: none;

  display: flex;
  flex-direction: column;
}

.contextmenu-item {
  padding: 0.25rem 0.75rem;
}

.contextmenu-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
